*{
	outline: none;
	font-size:23px;
}
body{
	background-image: url(img/bg_cosmo.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.wrapper{
	text-align: center;
	padding: 0 5%;
	display: grid;
	grid-template-columns:70% 30%;
}
.tollName{
	font-size: 3em;
	text-align: center;
	color:lightblue;
	text-shadow: 4px 4px 2px grey;
}
.btnTrim{
	background-color: #27ae60;
	font-size: 1,5rem;
	font-weight:bold;
	width: 100%;
}
.areaForWords{
	text-align: left;
	min-height: 200px;
	margin:0 5px;
}
.resultBox{
	display: inline-block;
	text-align: left;
	margin-top: 5px;
	border:1px solid green;
	box-shadow: inset 0 0 10px green;
	min-height: 100px;
	padding: 5px;
  	white-space: wrap;
  	word-wrap: break-word;
  	background-color: whitesmoke;

}
.boxWithButtons{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;

	grid-template-rows: 3fr 2fr 1fr;
}
.boxWithButtons button{
	border-radius: 5px;
}
.boxWithButtons button:hover{
	opacity: 0.9;
}
.btnDelete{
	background-color: #c0392b;
	display: 
}
.counteChars{
	background-color: #3498db;
}
.toLowerLetter{
	background-color: #f39c12;
}
.toUpperLetter{
	background-color: #d35400;
}
.enterowe{
	background-color: #9b59b6;
}
.instruction{
	text-align: left;
}

h1,h2,h3{
	font-family: impact;
}
