*{
	outline: none;
	font-size:23px;
	padding: 0px;
	margin: 0px;
}
body{
	background-image: linear-gradient(483deg, #09102c 16%, #4d519f);
	height: 100vh;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	color:whitesmoke;
	font-size: 2em;
}
h1 span{
	font-size: 1em;
	color:silver;
}
button{
	border:none;
}
.wrapper{
	text-align: center;
	padding: 1% 5%;
	display: grid;
	grid-template-columns:70% 30%;
	border-radius: 10px;
}
.tollName{
	font-size: 3em;
	text-align: center;
	color:lightblue;
	text-shadow: 4px 4px 2px grey;
}
.btnTrim{
	background-color: #27ae60;
	font-size: 1,5rem;
	font-weight:bold;
	width: 100%;
}
.areaForWords{
	text-align: left;
	min-height: 200px;
	margin:0 5px;
	padding: 8px;
}
.resultBox{
	display: inline-block;
	text-align: left;
	margin-top: 5px;
	min-height: 100px;
	padding: 5px;
  	white-space: pre-wrap;
	  word-wrap: break-word;
}
.resultBox h3{
	color:whitesmoke;
}
.resultArea{
	background-color: whitesmoke;
	margin-top: -50px;
	padding: 5px;
}
.counCharacters{
	color:whitesmoke;
}
.boxWithButtons{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;

	grid-template-rows: 3fr 2fr 1fr;
}
.boxWithButtons button{
	border-radius: 2px;
}
.boxWithButtons button:hover{
	opacity: 0.5;
	cursor: pointer;
}
.btnDelete{
	background-color: #c0392b;
	display: 
}
.counteChars{
	background-color: #3498db;
}
.toLowerLetter{
	background-color: #f39c12;
}
.toUpperLetter{
	background-color: #d35400;
}
.enterowe{
	background-color: #9b59b6;
}
.instruction{
	text-align: left;
}

h1{
	font-family: impact;
}